body {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", monospace!important;
    font-weight: 600;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 0;
    /* background-color: #f3f1f8; */
    position: sticky;
    top: 0;
    z-index: 1000;
}

#nav-links {
    display: flex;
    color: black;

    gap: 25px;
    align-items: center;
}


.home-nav a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10pxs;
}

#nav-links a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10pxs;
}

.home-nav a:hover {
    background-color: #ffc72c;
    text-decoration: none;
}

.home-nav .register {
    background-color: #6518ff;
    color:  #ffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    border: 2px solid #6518ff;
    cursor: pointer;
}

.home-nav .login {
    color:  #6518ff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #6518ff;
    cursor: pointer;
}

.home-nav div:first-child {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer {
    /* border-top: 1px solid gray; */
    width: 100%;
    /* height: 100px; */
    background-color: #f3f1f8;
    position: absolute;
    margin: 0;
    padding: 20px;
    bottom: 0;
    /* color: #f3f1f8; */
}
.footer div {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
    font-size:24px;
    
}

.footer h2, .footer img {
    margin: 0;
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size:16px;
}

.footer a{
    /* color: #f3f1f8; */
    text-decoration: none;
    color: black
}

.footer table {
    margin: 15px;
    text-align:start;
    padding: 0;
    /* border-collapse: collapse; */
    width: 100%;
    
}

.footer th {
    font-size: 20px;
    text-align:start;    
}