body {
    width: 100%;
    background-color: #f3f1f8;  
    
}
#container {

    /* position: relative; */
    /* top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    margin-top: 10%; */
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 70px;

    margin-bottom: 50px;
    text-align: center;
    width: 300px;
    
}




form {
    border: 2px solid #6518ff ;
    
    border-radius: 15px;
    
    padding: 20px;

}
#boxes {
    
    width: 75%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #6518ff;
    border-radius: 5px;
}
#rights {
    text-align: left;
    margin-left: 20px;
    font-size: small;
    
    
}
button {
    background-color: #6518ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

*:hover {
    background-color: #ffc72c ;
    transform: translateY(-2px);
    transition: 0.2s;
}
:active {
    background-color: #ffc72c;
    transform: translateY(-2px);
    transition: 0.2s;
}
button:hover {
    background-color: #ffc72c;
    transform: translateY(-2px);
    transition: 0.2s;
}
button:active {
    background-color: #ffc72c;
    transform: translateY(4px);
}