.event {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    width: 95%;
    max-width: 700px;
}

.event .cover {
    /* width: 95%; */
    width: 100%;
    height: auto;
    aspect-ratio:16/9;
    max-width: 700px;
    border-radius: 20px;
}

.event p {

}

.event table {
    width: 100%;
    border-collapse: collapse;
}
.event table td {
    padding: 10px 20px;
}

.event table img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}




.event form {
    background-color: #f3f1f8;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    max-width: 700px;
    border-radius: 20px;
}

.event form button {
    color: white;
    background-color: #1d1b23;
    /* max-width: 150px; */
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;

}

.event form input {
    width: 100%;

}